<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DirectoriesToExclude" value="Interfaces,Properties,ViewModels,Licensing,Attributes,DirectShow,lib,*Setup,ThirdParty"/>
    <add key="FilesToExclude" value="I*.cs,License*,*.xaml.cs,*AssemblyInfo*"/>
  </appSettings>
</configuration>